@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-primary: #6366f1;
    --clr-gradient: linear-gradient(#6366F1, #8B5CF6, #D946EF);

    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark mode */
/* .dark{

} */

body{
    font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    h1, h2 {
        font-weight: bold;
    }

    p {
        color: var(--clr-gray-700);
    }
}

.main-nav .container {
    justify-content: space-between;
}

.container {
    width: 100%;
    padding-inline: 3%;
    margin: 0 auto;

    p {
        font-size: 18px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 28.8px;
    }

    h2 {
        padding-top: 2rem;
        font-size: 27.9px
    }

}

.extra-margin {
    margin-top: 2rem;
}

nav {
    margin: 0.7rem;
}

.nav-left {
    p {
        display: none;
    }
}

.gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(99, 102, 241, 0.1));
}

.plain-clr {
    background-color: var(--clr-gray-100);
}

.toggle{
    --_w: 46px;
    --_h: 24px;

    width: var(--_w);
    height: var(--_h);
    display: inline-block;
    position: relative;
    margin-right: 1rem;

    input[type="checkbox"]{
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider{
        position:absolute;
        inset: 0;
        background-color: var(--clr-gray-600);
        border-radius: 100vw;
        cursor: pointer;
    }

    .slider::before {
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-110%, -50%);
        height: 75%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;

        transition: 200ms;
    }

    input[type="checkbox"]:checked ~ .slider::before {
        left: 99%;
    }

    input[type="checkbox"]:checked ~ .slider {
        background-color: var(--clr-primary);
    }

}

main {
    text-align: justify;
}

.h1-div {
    margin: 1.5rem auto;
    width: 300px;

    h1 {
        font-size: 34.1px
    }
}

.img {
    display: block;
}

.app-btn{
    background-color:black;
    margin: 0.4rem;
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
}

.flex {
    display: flex;

    &.flex-column{
        flex-direction: column;
        
        h3 {
            font-size: 21.6px;
            line-height: 30.2px;
            font-weight: bold;

            margin-top: 2rem;
        }
    }

    &.small-center{
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin-top: 1.5rem;
        padding-bottom: 2.5rem;

        p{
            font-size: 14px;
            margin: 0;
        }
    }

}

.grid {
    display: grid;
}

.darkmode {
    p {
        display: none;
    }
}

.align-center{
    align-items: center;
    text-align: center;
}

.user-btn{
    display: none;
}

.discover-more-btn{
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}

.feature {
    gap: 1.5rem;

    &.feature-text{
        justify-content: right;
        text-align: left;
    }

    h3 {
        font-size: 20;
    }

    p {
        font-size: 16px;
        line-height: 25.6px;
    }

    .feature-img {
        width: 60px;
        height: 60px;
        aspect-ratio: 1;
    
        background-color: var(--clr-gray-100);
        border: none;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

    }

}

.img-container{
    position: relative;
    margin-top: 2rem;
}

.mobile-screen{
    background-color: #0B0F19;
    border-radius: 18%;
}

.mobile-border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.FAQ-container {
    border: 1px solid var(--clr-gray-300); 
    text-align: left;
}

.question{
    border-bottom: 1px solid var(--clr-gray-300);
}

.question-info{
    display: block;
    flex-direction: column;
    p {
        font-size: 14px;
    }
}

.subscribe-card{
    background-color: var(--clr-gray-100);
}

@media (width > 390px) {
    .darkmode{
        p {
            display:inline-block;
        }
    }

}

@media (width > 768px){

    .user-btn{
        display: inline-block;
    }

    .nav-left {
        p {
            display: inline-block;
        }
    }

}